
body{
    
background-color:rgb(101, 0, 0) ;
}


 h1{
color: rgb(0, 0, 0);
font-family: ;
background: ;
text-align: center;
}


p{
color: rgb(0, 0, 0);
font-family: ;
font-size: 30px;
background: ;
}