
Estilizar a cor de fundo do seu site como o css
body{
background-color:black
}

Estilizar o título principal do seu site:
 h1{
color:#FF0000 ;
font-family:arial helvetica ;
background:green ;
}

Estilizar os parágrafos:
p{
color:#FF00FF;
font-family:arial ;
font-size:arial ;
background:red ;
}