

body{
background-color:rgba(77, 0, 0, 0.979)
}

 h1{
color: rgb(255, 255, 255) ;
font-family: arial ;
background: ;
}

p{
color:rgb(255, 255, 255);
font-family:arial ;
font-size:arial ;
background: ;
}
#pizzaria{
    width: 100%;
}
